* {
  box-sizing: border-box;
}
#container {
  margin: auto;
  max-width: 1200px;
  min-width: 295px;
}
.news {
  float: left;
  width: 23%;
  margin-right: 2%;
}
.news h1 {
  font-size: 22px;
}
#event-name{
	text-align:center;
}
#top-navi li {
  position: relative;
  color: #336600;
  width: 20%;
  float: left;
  background-color: #33cc33;
}
#top-navi li:hover {
  background-color: #a6e468;
}
.date {
  margin-top: 1px;
  color: #808080;
}
#row1 {
  margin-left: 12px;
  margin-top: 10px;
}
#login-box h1 {
  padding: 7px;
  color: #336600;
  font-size: 20px;
  background-color: #33cc33;
}
#events h1 {
  margin-bottom: 10px;
  padding: 7px;
  font-size: 20px;
  color: #336600;
  background-color: #33cc33;
}
#sidebar a {
  text-decoration: none;
  margin-left: 10px;
}
#sidebar a:after {
  content: ">>";
  margin-left: 10px;
}
#site-header {
  background-image: url("banner.png");
}
#site-header h1 {
  text-shadow: 2px 2px #a6e468;
}
input {
  background-color: #a6e468;
}
button {
  background-color: #a6e468;
}
.login-label {
  font-size: 0.9em;
}
.project:first-child {
  margin-left: 50px;
}
.event-date {
  width: 60px;
  height: 50px;
  float: left;
  border-style: solid;
  border-color: #336600;
  border-width: 2px;
}
.event::after {
  content: "";
  display: block;
  clear: both;
}
.month {
  text-align: center;
  background-color: #336600;
  display: block;
}
.event {
  margin-bottom: 5px;
}
.day {
  padding-top: 5px;
  text-align: center;
  display: blocK;
}
.project {
  float: left;
  width: 18%;
  border-style: solid;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
  margin-bottom: 30px;
}
.project h1{
	font-size: 22px;
}
#row2 {
  overflow: hidden;
  background-color: #a6e468;
}
#site-header {
  color: #336600;
  height: 90px;
  text-align: center;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #336600;
  margin-top: -6px;
  line-height: 75px;
}
#siteheader {
  width: 100px;
}
a:visited {
  color: black;
}
a {
  color: black;
}
#row2 {
  clear: both;
}
#sidebar {
  float: left;
  width: 25%;
}
h1 {
  margin: 0;
}
#top-navi {
  height: 150%;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  border-style: solid;
  margin-left: 0px;
  border-color: #336600;
}
#row3 {
  margin-top: 30px;
  overflow: hidden;
  margin-left: 120px;
  max-width: 1000px;
}
.fb-post {
  border-bottom-style: dashed;
  margin-bottom: 20px;
  border-color: #808080;
}
#twitter {
  width: 40%;
  float: left;
}
#facebook {
  margin-left: 15%;
  width: 40%;
  float: left;
}
#top-navi a:hover {
  background-color: #a6e468;
}
#top-navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.login-label {
  width: 50px;
  display: block;
}
#top-navi a {
  background-color: #33cc33;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#top-navi ul li ul {
  display: block;
}
#top-navi .submenu li {
  float: none;
  width: 100%;
}
#top-navi ul li:hover .submenu {
  display: block;
}
#top-navi ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  background-image: url('navi-arrow.png');
  background-repeat: no-repeat;
  background-position: 50% 10px;
  margin-top: -15px;
  padding-top: 26px;
}
@media (max-width: 976px) {
  .login-label {
    display: blocK;
  }
  .news {
    float: none;
    width: 100%;
  }
  #sidebar {
    width: 100%;
  }
  #login-box {
    width: 47%;
    float: left;
  }
  #events {
    margin-left: 6%;
    width: 47%;
    float: left;
    margin-bottom: 20px;
  }
  .project {
    float: left;
    width: 45%;
    margin-left: 20px;
    margin-top: 20px;
  }
  .project:first-child {
    margin-left: 20px;
  }
  .project:last-child {
    margin-bottom: 20px;
  }
  #row3 {
    overflow: visible;
    width: 100%;
  }
  #twitter {
    overflow: visible;
    margin-left: -90px;
  }
  #facebook {
    width: 40%;
    margin-left: 10%;
  }
}
@media (max-width: 530px) {
	#row3{ margin-left:95px;
	}
  #login-box {
	width:90%;
   float:none;
  }
   #events{
   margin-left:0px;
	width:90%;
   float:none;

  }
  #top-navi li {
    width: 100%;
    float: none;
    border-bottom-style: solid;
  }
  #top-navi li:last-child {
    float: none;
    border-bottom-style: none;
  }
  #twitter {
    width: 90%;
    float: none;
  }
  #site-header {
    border-top-style: solid;
    margin-top: 10px;
  }
  #facebook {
    width: 90%;
    float: none;
    margin-top: 20px;
    margin-left: -90px;
  }
  .project {
    float: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .project:first-child {
    margin-left: auto;
  }
  .project:last-child {
    margin-bottom: 20px;
  }
}
