* {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
header{
	padding-top:30px;
	background-color:white;
	margin:auto;
	text-align: center;
	height:160px;
}	
#spacer{
	height:45px;
}
.clearfix:before, .clearfix:after { 
	content: ""; display: table; 
}
.clearfix:after { 
	clear: both; 
}
ul {
	list-style: none;padding: 0px;margin: 0px;border:1px solid #000;background: #151515;
	height:50px;
}
ul li {
	display: block;position: relative;float: left;
}
li ul {
	display: none;
}
ul li a {
	display: block;background: #151515;padding:10px 20px;text-decoration: none;
	white-space: nowrap;color: #fff;
}
ul li a:hover {
	background: #323232;
}
li:hover ul {
	display: block; position: absolute;
}
li:hover li {
	float: none;
}
li:hover a {
	background: #323232;
}
li:hover li a:hover {
	background: #000;
}
#drop-nav li ul li {
	border-top: 0px;
}
a {
	text-decoration:none;
	color:#8D2036;
}
a:visited: {
	color:#8D2036;
}
#otsikko{
	color:#8D2036;
}
h1{
	margin:0;
	font-size:4em;
	letter-spacing: 10px;
}
.form1 input[type='text'], input[type='email'], input[type='password'], input[type='select'] {
	width: 400px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: black; font-size: 14px; margin-top: 10px;
}
.form1 textarea{
	width: 400px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: black; font-size: 14px; margin-top: 10px;
}
.form textarea{
	width: 400px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: black; font-size: 14px; margin-top: 10px;
}
.form1{
	width: 300px; margin: 0 auto;
}
.form{
	width: 300px; margin: 0 auto;
}
.form input[type='text'], input[type='email'], input[type='password'], input[type='select'] {
	width: 200px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: black; font-size: 14px; margin-top: 10px;
}
input[type='submit']{
	padding: 10px 25px 8px; color: #fff; background-color: #151515; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px;  border: 1px solid; border-radius: 10px; margin-top: 10px; cursor:pointer;
}
input[type='submit']:hover {
	background-color:#323232;
}
.container{
	max-width:1200px;
	margin: 0 auto;
	min-width: 556px;
	background-color: #B9D48B;
	min-height:950px;
}
footer{
	height:20px;
}
#section{
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	padding:15px;
	padding-bottom:50px;
	margin-bottom:10px;
	width:90%;
	margin:auto;
	margin-bottom:20px;
	background-color:#C5E0DC;
}
.vastausbox{
	float:right;
	width:150%;
}
#otsikko{
	font-size:1.5em;
}
#section a:hover{
	text-decoration:none;
}
#section a:visited{
	text-decoration:none;
}
.button {
	margin-top:0.5%;
	float:right;
	text-decoration: none;
	background-color: #EEEEEE;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	border-radius: 5px;
	margin-bottom:20px;
	color:black;
}
.button:hover{
	background-color: #bdbdbd;
}
@media (max-width: 1200px) {
	#section{
		padding-bottom:30px;
	}
}
@media (max-width: 796px) {
	h1{
		margin-top:20px;
		font-size:2.5em;
	}	
}
