* {
    box-sizing: border-box;
}

#container {
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: #00F;
    max-width: 1200px !important;
    position: relative;
}

#body {
    padding-bottom: 25px;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #09F;
}

#links li {
    float: right;
}

#links li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#links li a:hover {
    background-color: #fff;
}

#header span {
    font-size: 3em;
    display: inline-block;
    vertical-align: middle;
    line-height: 150px;
}

#header {
    text-align: center;
    height: 170px;
    background-image: -ms-linear-gradient(bottom,#FFF 0%,#009 100%);
    background-image: -moz-linear-gradient(bottom,#FFF 0%,#009 100%);
    background-image: -o-linear-gradient(bottom,#FFF 0%,#009 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#FFF),color-stop(100,#009));
    background-image: -webkit-linear-gradient(bottom,#FFF 0%,#009 100%);
    background-image: linear-gradient(to top,#FFF 0%,#009 100%);
}

#article1 {
    margin: 10px;
    position: relative;
    width: 30%;
    float: left;
}

#article2 {
    margin: 10px;
    position: relative;
    overflow: hidden;
    float: left;
    width: 30%;
}

#nav2 {
    margin: 10px;
    position: relative;
    background-color: #09F;
    float: right;
    width: 30%;
}

h3 {
    background-color: #006;
    color: #fff;
    margin-top: 0;
    padding: 7px;
}

#nav2 li {
    background-color: #09F;
}

#footer {
    clear: both;
    bottom: 120px;
    width: 100%;
    height: 50px;
    padding: 1rem;
    color: #fff;
    background-color: #000;
    text-align: center;
}

@media only screen and (max-width : 499px) {
    .dropdown-content {
        padding-left: 20px;
    }

    #nav2 {
        margin: auto;
        width: 100%;
    }

    #footer {
        height: 100px;
    }

    #article1 {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #00F;
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    #article2 {
        width: 100%;
        clear: both;
    }

    * {
        font-size: 1.1em;
    }

    #nav1 li {
        display: block;
        float: none;
        text-align: left;
        left: 0;
        color: #fff;
    }

    #nav1 li a {
        display: block;
        text-decoration: none;
        color: #fff;
    }

    #nav1 ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        background-color: #000;
    }

    #links {
        display: none;
    }

    .links2 {
        display: block;
        width: 100%;
        background-color: #09F;
        color: #fff;
    }
}

@media only screen and (min-width: 500px) and (max-width: 650px) {
    #nav1 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000;
    }

    #nav1 li {
        float: left;
    }

    #nav1 li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #nav1 li a:hover {
        background-color: #A8A8A8;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #links {
        display: none;
    }

    .links2 {
        width: 100%;
        background-color: #09F;
        color: #fff;
    }

    h3 {
        text-align: center;
    }

    #nav2 {
        position: relative;
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #nav21 {
        background-color: #09F;
        float: left;
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 30%;
    }

    #nav22 {
        margin-left: 1.5%;
        margin-right: 1.5%;
        float: left;
        width: 30%;
    }

    #nav23 {
        margin-right: 1.5%;
        margin-left: 1.5%;
        left: 0;
        float: right;
        width: 30%;
    }

    #article1 {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #00F;
        width: 100% !important;
        margin-left: 0;
        padding: 10px;
    }

    #article2 {
        width: 100% !important;
        clear: both;
    }
}

@media only screen and (min-width: 651px) and (max-width: 800px) {
    .links2 {
        display: none;
    }

    #nav1 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000;
    }

    #nav1 li {
        float: left;
    }

    #nav1 li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #nav1 li a:hover {
        background-color: #A8A8A8;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #article1 {
        width: 45%;
    }

    #article2 {
        width: 45%;
    }

    h3 {
        text-align: center;
    }

    #nav2 {
        position: relative;
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #nav21 {
        background-color: #09F;
        float: left;
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 30%;
    }

    #nav22 {
        margin-left: 1.5%;
        margin-right: 1.5%;
        float: left;
        width: 30%;
    }

    #nav23 {
        margin-right: 1.5%;
        margin-left: 1.5%;
        left: 0;
        float: right;
        width: 30%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 2000px) {
    #footer {
        width: 100%;
    }

    .links2 {
        display: none;
    }

    #nav1 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000;
    }

    #nav1 li {
        float: left;
    }

    #nav1 li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #nav1 li a:hover {
        background-color: #A8A8A8;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}