@base: #663333;
@complement: darken(spin(@base, 180), 5%);   // vihreä
@lighten1: lighten(@base, 15%);    // navigaation teksti ja reunus
@lighten2: lighten(@base, 30%);    // punaiset taustat
@spacing: 10px;   // laatikoiden välissä / ympärillä
@padding: 5px;    // laatikoiden sisällä
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  box-sizing: border-box;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover{
	color:#CC3300;
}
a:visited {
  color: @lighten1;
}
#promowrapper::after {
  content: "";
  display: block;
  clear: both;
}
#wrapper {
  max-width: 1000px;
  min-width: 670px;
  margin-left: auto;
  margin-right: auto;
}
main {
  margin: auto;
}
header {
  text-align: center;
  margin-top: 70px;
  font-family: Lobster;
  margin-bottom: 40px;
}
nav {
  min-width: 670px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-color: @lighten1;
  color: @lighten1;
  border-style: solid;
  width: 100%;
  text-align: center;
  border-width: 1px;
  padding: 4px;
  -webkit-box-shadow: 1px 1px 1px #994d4d;
  -moz-box-shadow: 1px 1px 1px #994d4d;
  box-shadow: 1px 1px 1px #994d4d;
}
.peitettysisalto {
  text-align: center;
  padding-top: 15px;
}
nav a {
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 600;
}
#articlewrapper {
  font-family: Lobster;
  background-color: @lighten2;
}
#articlewrapper::after {
  content: "";
  display: block;
  clear: both;
}
#articlewrapper:last-child {
  padding-left: 40px;
}
section {
  padding-right: 10px;
  width: 33%;
  float: left;
}
section:last-child {
  padding-right: 0;
}
.esittely {
  clear: both;
}
h2{
	color:@complement;
}
.sectionwrapper {
  border-width: 10px;
  border-color: @complement;
  border-style: solid;
  position: relative;
  background-color: @lighten2;
  min-height: 261px;
}
#kirjoittaja{
	text-align:right; 
	padding-right:20px;
	color: @complement;
}
.sisalto:hover {
  opacity: 0;
}
.sisalto {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 2s;
  cursor: pointer;
  cursor: hand;
  background-color: @lighten2;
  width: 100%;
  height: 100%;
  float: left;
}
#article11 {
  float: left;
  width: 30%;
}
#article12 {
  margin-left: 30px;
  float: left;
  width: 30%;
}
#article13 {
  margin-left: 30px;
  float: left;
  width: 30%;
}
