* {
    box-sizing: border-box;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

main {
    padding-bottom: 27px;
    clear: both;
}

body {
    min-height: 100%;
    position: relative;
}

footer {
    text-align: center;
    color: #fff;
    background: #000;
    width: 100%;
    height: 27px;
    position: absolute;
    max-width: 1000px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0;
    height: 100%;
}

@media only screen and (max-width : 600px) {
    main {
        padding-bottom: 0;
    }

    body {
        min-width: 284px;
    }

    #ylalogo {
        display: none;
    }

    #article1 {
        display: none;
    }

    #article2 {
        display: none;
    }

    #article3 {
        display: none;
    }

    #article4 {
        display: none;
    }

    #article5 {
        display: none;
    }

    #top-navi {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #luelisaa {
        display: none;
    }

    nav {
        background-color: #fff7e6;
        margin-top: 5px;
        border-style: solid;
        border-color: gray;
        padding-bottom: 10px;
    }

    nav a:hover {
        background-color: #000;
        color: #fff;
    }

    li a::after {
        content: ">";
        display: inline;
        float: right;
    }

    li a {
        margin: 7px;
        display: block;
        background-color: #b999a1;
        text-decoration: none;
        color: #000;
        font-family: Garamond;
        font-weight: 700;
        line-height: 2em;
        height: 2em;
        padding: 2px 4px;
    }

    .ylanavi {
        border-style: solid;
        border-color: #852425;
        width: 100%;
        background-color: #b999a1;
        color: #852425;
        font-size: 1.1em;
    }

    #otsikko1 {
        margin-right: 70px;
        font-style: oblique;
    }

    #otsikko2 {
        margin-left: 30%;
        font-style: oblique;
    }

    section {
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: #852425;
        border-radius: 15px;
        background-color: #b999a1;
        color: #852425;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 10px;
    }

    #header {
        display: none;
    }

    #header1 {
        display: none;
    }

    #header2 {
        display: none;
    }
}

@media only screen and (min-width:601px) and (max-width: 900px) {
    #header1 {
        border-bottom-style: solid;
        border-color: gray;
    }

    #ylalogo {
        display: none;
    }

    #border {
        border-left-style: solid;
        border-right-style: solid;
        border-color: gray;
    }

    .ylanavi {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a:hover {
        background-color: #000;
        color: #fff;
    }

    nav {
        margin-left: 10px;
        width: 25%;
        background-color: #fff7e6;
        margin-top: 5px;
        border-style: solid;
        border-color: #b999a1;
        border-radius: 10px;
    }

    #top-navi {
        border-bottom-style: solid;
        border-top-style: solid;
        border-right-style: solid;
        background-color: #b999a1;
    }

    #top-navi li {
        text-align: center;
        width: 20%;
        float: left;
        border-left-style: solid;
    }

    #top-navi li a:hover {
        background-color: #000;
        color: #fff;
    }

    #top-navi li a {
        display: block;
        background-color: #b999a1;
        text-decoration: none;
        color: #000;
        font-family: Garamond;
        font-weight: 700;
        line-height: 2em;
        height: 2em;
        padding: 2px 4px;
    }

    nav li a {
        display: block;
        background-color: #b999a1;
        text-decoration: none;
        color: #000;
        font-family: Garamond;
        font-weight: 700;
        margin: 10px;
        line-height: 1.5em;
        padding: 5px 4px;
    }

    section {
        display: none;
    }

    main {
        margin-top: 150px;
    }

    #article5 {
        margin-top: -20px;
        background-color: #fff7e6;
        text-align: center;
    }

    #article1 {
        margin-top: -25px;
        background-color: #fff7e6;
        text-align: center;
        font-weight: 700;
        font-style: italic;
    }

    #article3 {
        border-color: #b999a1;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 13px;
        width: 69%;
        float: right;
        text-align: center;
        border-bottom-style: dashed;
        border-top-style: dashed;
        border-width: 1.7px;
    }

    #article2 {
        padding: 5px;
    }

    #header {
        margin-left: 10px;
        margin-right: 10px;
        border-bottom-style: dashed;
        border-width: 1px;
        border-color: gray;
    }

    #header1 {
        background-color: #fff7e6;
    }

    #article4 {
        background-color: #fff7e6;
        margin-top: 15px;
        border-style: solid;
        border-color: #b999a1;
        margin-right: 10px;
        width: 70%;
        float: right;
        padding: 10px;
    }

    #luelisaa {
        float: right;
        font-weight: 700;
        background-color: #b999a1;
        width: 70%;
        margin-right: 10px;
        height: 30px;
    }

    #luelisaa a {
        text-decoration: none;
        color: #fff;
    }

    #luelisaa a::after {
        float: right;
        content: "Lisätietoja >>";
        margin-right: 10px;
    }

    #header2 {
        display: none;
    }
}

@media only screen and (min-width:901px) {
    #wrapper {
        max-width: 1000px;
    }

    #border {
        border-left-style: solid;
        border-right-style: solid;
        border-color: gray;
    }

    .ylanavi {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a:hover {
        background-color: #000;
        color: #fff;
    }

    nav {
        margin-left: 10px;
        width: 25%;
        background-color: #fff7e6;
        margin-top: 5px;
        border-style: solid;
        border-color: #b999a1;
        border-radius: 10px;
    }

    #top-navi li {
        text-align: center;
        float: right;
        border-style: solid;
        border-width: 2px;
        margin-left: 8px;
        margin-right: 8px;
        background-color: #b999a1;
    }

    #top-navi li a:hover {
        background-color: #000;
        color: #fff;
    }

    #top-navi li a {
        display: block;
        background-color: #b999a1;
        text-decoration: none;
        color: #000;
        font-family: Garamond;
        font-weight: 700;
        line-height: 2em;
        height: 2em;
        padding: 2px 4px;
    }

    #ylalogo {
        width: 5px;
        height: 5px;
    }

    nav li a {
        display: block;
        background-color: #b999a1;
        text-decoration: none;
        color: #000;
        font-family: Garamond;
        font-weight: 700;
        margin: 10px;
        line-height: 1.5em;
        padding: 5px 4px;
    }

    section {
        display: none;
    }

    main {
        margin-top: 150px;
    }

    #article5 {
        margin-top: -20px;
        background-color: #fff7e6;
        text-align: center;
    }

    #article1 {
        margin-top: -25px;
        background-color: #fff7e6;
        text-align: center;
        font-weight: 700;
        font-style: italic;
    }

    #article3 {
        border-color: #b999a1;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 13px;
        width: 69%;
        float: right;
        text-align: center;
        border-bottom-style: dashed;
        border-top-style: dashed;
        border-width: 1.7px;
    }

    #article2 {
        width: 45%;
        float: right;
        padding: 5px;
    }

    #header2 {
        margin-top: 5px;
        padding: 5px;
        background-color: #fff7e6;
        width: 100%;
        height: 200px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: gray;
    }

    #header21 {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: -5%;
        width: 45%;
        float: left;
    }

    #header22 {
        margin-top: 0;
        margin-right: 20px;
        font-size: .98em;
        width: 50%;
        float: right;
    }

    #header {
        display: none;
    }

    #header1 {
        display: none;
    }

    #article4 {
        background-color: #fff7e6;
        margin-top: 15px;
        border-style: solid;
        border-color: #b999a1;
        margin-right: 10px;
        width: 70%;
        float: right;
        padding: 10px;
    }

    #luelisaa {
        float: right;
        font-weight: 700;
        background-color: #b999a1;
        width: 70%;
        margin-right: 10px;
        height: 30px;
    }

    #luelisaa a {
        text-decoration: none;
        color: #fff;
    }

    #luelisaa a::after {
        float: right;
        content: "Lisätietoja >>";
        margin-right: 10px;
    }
}