﻿* {
    box-sizing: border-box;
    font-family: Georgia,serif;
}

.center {
    width: 100%;
}

#article1 {
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
}

h4 {
    color: #003d99;
}

#article2 {
    margin-top: -30px;
    padding: 10px;
    font-size: 1.05em;
}

#article3 {
    padding: 10px;
    border-style: solid;
    border-color: #ffff4d;
    background-color: #ffffe0;
    margin-bottom: 5px;
}

#article4 {
    padding: 10px;
    border-style: solid;
    border-color: #ff0;
    background-color: #ffffe0;
    margin-bottom: 5px;
}

html {
    background-color: #4073bf;
}

header {
    padding: 10px;
    border-top-style: solid;
    border-top-color: lightgray;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

@media only screen and (min-width: 801px) and (max-width:2500px) {
    #nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #nav {
        margin-left: 4%;
        margin-right: 4%;
        width: 100%;
        float: left;
        padding: 5px;
        list-style: none;
    }

    header {
        border-bottom-style: none;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
    }

    body {
        border-bottom-style: none !important;
        border-top-style: none !important;
        border-right-style: none !important;
        border-left-style: none !important;
    }

    #nav li {
        text-align: center;
        display: table-cell;
        float: left;
    }

    #nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 700;
        color: #069;
    }

    #nav a:hover {
        color: #000;
        background-color: lightgray;
    }

    .center {
        margin-left: 4%;
        width: 35%;
    }

    .kuva {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
        border-style: solid;
        border-width: 10px;
        border-color: lightgray;
    }

    body {
        max-width: 1200px;
        border-style: solid;
        border-color: lightgray;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 10px;
        margin-right: 65px;
        margin-left: 65px;
        margin-bottom: 10px;
    }

    #puolet {
        width: 60%;
        float: left;
        margin-left: 4%;
    }

    #puolet2 {
        margin-top: 20px;
        margin-right: 5%;
        float: right;
        width: 27%;
    }

    #footer {
        border-top-style: solid;
        border-top-color: #003d99;
        clear: both;
    }

    #article3 {
        margin-bottom: 20px;
    }

    #article4 {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .kuva {
        width: 100%;
        height: auto;
    }

    .center {
        width: 45%;
    }

    #article3 {
        width: 45%;
        float: left;
        height: 200px;
        margin-left: 3%;
    }

    #article4 {
        height: 200px;
        width: 45%;
        float: right;
        margin-right: 3%;
        margin-bottom: 20px;
    }

    #footer {
        clear: both;
    }

    body {
        border-style: solid;
        border-color: lightgray;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #nav {
        margin-bottom: 1px;
        width: 100%;
        float: left;
        padding: 0;
        list-style: none;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    #nav li {
        text-align: center;
        display: table-cell;
        float: left;
    }

    #nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 700;
        color: #069;
        border-right: 1px solid #ccc;
    }

    #nav a:hover {
        color: #000;
        background-color: lightgray;
    }
}

@media only screen and (min-width: 487px) and (max-width: 600px) {
    .kuva {
        display: none;
    }

    body {
        border-style: solid;
        border-color: lightgray;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #article1 {
        clear: both;
    }

    #nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #nav {
        width: 100%;
        float: left;
        padding: 0;
        list-style: none;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    #nav li {
        text-align: center;
        display: table-cell;
        float: left;
    }

    #nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 700;
        color: #069;
        border-right: 1px solid #ccc;
    }

    #nav a:hover {
        color: #000;
        background-color: lightgray;
    }
}

@media only screen and (min-width: 100px) and (max-width: 486px) {
    .kuva {
        display: none;
    }

    body {
        border-style: solid;
        border-color: lightgray;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #nav {
        list-style-type: none;
        background-color: #f2f2f2;
    }

    #nav ul {
        list-style-type: none;
        background: #f2f2f2;
        padding: 0;
        margin: 0;
    }

    #nav li a {
        color: #003d99;
        width: 100%;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        overflow: hidden;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
    }

    #nav a:hover {
        color: #000;
        background-color: lightgray;
    }
}

#footer {
    padding-top: 20px;
    height: auto;
    list-style-type: none;
    background-color: lightgray;
    padding-bottom: 20px;
}

#footer a {
    text-decoration: none;
    color: #000;
    float: left;
    padding: 5px;
}

#footer span {
    padding-left: 15px;
}