* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1 {
    font-size: 3em;
    letter-spacing: 6px;
}

h2 {
    font-size: 2em;
    letter-spacing: 4px;
}

h3 {
    letter-spacing: .5px;
}

h4 {
    letter-spacing: .4px;
}

h1,h2,h4,h3 {
    margin: 0;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#sivu {
    margin-top: 0;
}

#viikonsaa1 {
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.paiva {
    margin: auto;
    width: 13%;
    float: left;
    margin-top: 10px;
    margin-left: 16px;
}

.paiva:first-child {
    margin-left: 0;
}

#viikonsaa {
    width: 100%;
    background-color: #F8A100;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 40px;
    font-size: 1.5em;
}

#uutisetblogi {
    margin-top: 200px;
    padding-left: 40px;
}

.sivuotsikko {
    font-size: 1.2em;
    text-align: center;
    background-color: #F8A100;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.sivuotsikko:last-child {
    margin-top: 10px;
}

.uutiset1 {
    font-size: 1.08em;
    width: 33%;
    float: left;
    min-height: 250px;
}

.uutiset1:last-child {
    margin-left: 30px;
    padding-left: 30px;
}

#sivu {
    margin-left: 40px;
    width: 25%;
    float: left;
}

.sivuuutinen1 {
    padding-top: 10px;
}

.sivuuutinen1:first-child {
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}

#header {
    background-color: #6c648B;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

#content {
    min-height: 1000px;
    opacity: .8;
    background-color: #6BBAA7;
    overflow: auto;
    padding-bottom: 30px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    min-width: 760px;
    width: 80%;
}